### Spark
Apache spark is a distributed data processing framework, before you start, please spend some time in reading below documentation which will help you to understand the concepts.
https://en.wikipedia.org/wiki/Apache_Spark

- Source : https://github.com/ajay291491/Mastering-Big-Data-Analytics-with-PySpark
- Course : https://learning.oreilly.com/videos/mastering-big-data/9781838640583/

### Spark - How it works 
Spark mainly has three components as part of its execution 

##### Spark Context  
This is driver program which sets the memory etc for the spark 
When we run any Spark application, a driver program starts, which has the main function and your SparkContext gets initiated here. The driver program then runs the operations inside the executors on worker node.
##### Cluster manager 
Which manages resources using YARN 
##### Executor 
Which runs the task which sent by Spark conect 
 
Flow :  "Spark Context" --> "Cluster manager" --> "Executor"

Note : To know more about pyspark refer - https://www.tutorialspoint.com/pyspark/pyspark_quick_guide.htm

#### Components of Spark are below 

##### RDDS (Resilient Distributed Dataset) 
RDDS is the fundamental data structure of Apache Spark which are an immutable collection of objects which computes on the different node of the cluster. Each and every dataset in Spark RDD is logically partitioned across many servers so that they can be computed on different nodes of the cluster.

##### Spark Streaming 
This is used for analyzing data in streams, normally data will be send in mini batches for analyzing
With streaming data frame which initialized will be keep gowring as the new mini batch of streams gets added 
You can Integrate Kenisis streaming with spark streaming

##### Spark SQL
Spark SQL is a Spark module for structured data processing. It provides a programming abstraction called DataFrames and can also act as a distributed SQL query engine

##### MLLib           
This is machine learning library with the spark

#### GraphX
This produces graphs

#### Spark MLLib 
MLlib is a machine learning library used by pyspark and its intended to provide the practical machine learning scalable and possible. At a high level MLLib privides tools such as. 
- ML Algotithms : Common learning algorithms such as classification, regression, clustering and collaborative filtering 
- featurization : feature extraction, transformation, dimensionality reduction and selection 
- Pipeline      : Tools for constructing, evaluating and tuning ML pipelines 
- Persistance   : Saving and load algorithms, models and pipelines 
- Utilities     : Linear algebra, statistics, data handling etc

#### Spark DataFrame
DataFrame is a distributed collection of rows(dataset) orginized in named columns. 
- This can be used for relational transform 
- As part of the pyspark.sql package, allows you to run queries over data 
- Faster than RDD (legacy) due to their query plan optimization 
- To know more : https://spark.apache.org/docs/2.4.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame

##### Spark DataFrame and RDD
- Spark Dataframe is built on top of RDD
- RDDs are immutable in nature, which means it cann't be altered once it is created 
- Since its immutable its easy and safe to share acorss multiple process
- It can be created any time and can live both in memeory and disk

#### Spark SQL
Spark is library which helps you to deal with data frames. 
- This helps to easily load and evaluate the data 
- Execute SQL queries in spark
- DataFrame API with a rich Library functions
- It has integration with hadoop and hive 
- Data source API will have lot of built in integration with various data sources
- JDBC/ODBC connectivity

#### Reading CSV Dataset
Below i sthe step by step procedure to read CSV file in spark. 
It also shows various different methods in reading CSV

- Reading without any parameters 
- Reading with standard parameter 
- Reading with custom scheme while loading data

##### Reading with out any special parameter 
In this way data gets read, but this is not always the preferred way of opening a data frame

In [ ]:
# Initializing a spark sql session 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MyFirstCSVLoad").getOrCreate()

In [2]:
df = spark.read.csv("data-sets/ml-latest-small/ratings.csv")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ajayaghoshvl/.conda/envs/aws_exam_prep/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/09/03 15:59:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# Reading First 5 rows in the dataframe
df.show(5)

+------+-------+------+---------+
|   _c0|    _c1|   _c2|      _c3|
+------+-------+------+---------+
|userId|movieId|rating|timestamp|
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
+------+-------+------+---------+
only showing top 5 rows

In [4]:
# Reading the schema of the dataframe 
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

##### Reading with standard Parameter Sets (More standard way of creating dataframe)
When we initialize a dataframe then we additionally provide few paramater while initializing 
- path : Path where the file is stored to read 
- sep  : Sets a single character as a separator for each field and value. If None set, uses the default value, ,.
- header : Uses the first line as names of columns. If None is set, it uses the default value, false.
- quote :  sets a single character used for escaping quoted values where the separator can be part of the value. If None is set, it uses the default value, ". If you would like to turn off quotations, you need to set an empty string.
- inferSchema : Infers the input schema automatically from data. It requires one extra pass over the data. If None is set, it uses the default value, false.

In [45]:
# More standard way of Creating a dataframe 
df = spark.read.csv(
    path="data-sets/ml-latest-small/ratings.csv",
    sep=",",
    header=True,
    quote='"',
    inferSchema=True,
)

In [9]:
df.show(5)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
+------+-------+------+---------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

##### How to change the schema while loading dataframe
We can change the header name and also the Type of the schema by manually setting those schemas

In [51]:
# here we are manually setting the schema and its type 
df = spark.read.csv(
    path="data-sets/ml-latest-small/ratings.csv",
    sep=",",
    header=True,
    quote='"',
    schema="userID INT, movieID INT, score DOUBLE, timestamp INT",
)

In [12]:
df.show(5)

+------+-------+-----+---------+
|userID|movieID|score|timestamp|
+------+-------+-----+---------+
|     1|      1|  4.0|964982703|
|     1|      3|  4.0|964981247|
|     1|      6|  4.0|964982224|
|     1|     47|  5.0|964983815|
|     1|     50|  5.0|964982931|
+------+-------+-----+---------+
only showing top 5 rows

21/09/03 16:26:32 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: userId, movieId, rating, timestamp
 Schema: userID, movieID, score, timestamp
Expected: score but found: rating
CSV file: file:///study_docs/study_documents/notebooks/Pyspark_Guide/data-sets/ml-latest-small/ratings.csv

In [13]:
df.printSchema()

root
 |-- userID: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- score: double (nullable = true)
 |-- timestamp: integer (nullable = true)

#### Fixing issues in the data
- In the following topic we will understand how to explore the data and fix them as needed. 
- Here we will be using the module "pyspark.sql.functions" for this purpose
- Detail Doc: https://spark.apache.org/docs/2.4.0/api/python/pyspark.sql.html#module-pyspark.sql.functions

##### Task : Covert the Unix timestamp to Human readable format and remove the original timestamp column

In [29]:
# Initializing the spark sql function 
from pyspark.sql import functions as f

In [49]:
# Run Cell 51 to initize the dataframe before this 
# Renaming an existing column and Adding a new column
df = df.withColumnRenamed("timestamp", "timestamp_unix")           # Renaming timestamp to timestamp_unix       
df = df.withColumn("timestamp", f.from_unixtime("timestamp_unix")) # Creating new column timestamp after converting existing timestamp_unix column to human readable format using 'f.from_unixtime'
df = df.withColumn("timestamp", f.to_timestamp("timestamp"))       # Change schema of timestmap column as timestamp

In [50]:
df.show()
df.printSchema()

+------+-------+-----+--------------+-------------------+
|userID|movieID|score|timestamp_unix|          timestamp|
+------+-------+-----+--------------+-------------------+
|     1|      1|  4.0|     964982703|2000-07-30 19:45:03|
|     1|      3|  4.0|     964981247|2000-07-30 19:20:47|
|     1|      6|  4.0|     964982224|2000-07-30 19:37:04|
|     1|     47|  5.0|     964983815|2000-07-30 20:03:35|
|     1|     50|  5.0|     964982931|2000-07-30 19:48:51|
|     1|     70|  3.0|     964982400|2000-07-30 19:40:00|
|     1|    101|  5.0|     964980868|2000-07-30 19:14:28|
|     1|    110|  4.0|     964982176|2000-07-30 19:36:16|
|     1|    151|  5.0|     964984041|2000-07-30 20:07:21|
|     1|    157|  5.0|     964984100|2000-07-30 20:08:20|
|     1|    163|  5.0|     964983650|2000-07-30 20:00:50|
|     1|    216|  5.0|     964981208|2000-07-30 19:20:08|
|     1|    223|  3.0|     964980985|2000-07-30 19:16:25|
|     1|    231|  5.0|     964981179|2000-07-30 19:19:39|
|     1|    235|  4.0|     964980908|2000-07-30 19:15:08|
|     1|    260|  5.0|     964981680|2000-07-30 19:28:00|
|     1|    296|  3.0|     964982967|2000-07-30 19:49:27|
|     1|    316|  3.0|     964982310|2000-07-30 19:38:30|
|     1|    333|  5.0|     964981179|2000-07-30 19:19:39|
|     1|    349|  4.0|     964982563|2000-07-30 19:42:43|
+------+-------+-----+--------------+-------------------+
only showing top 20 rows

root
 |-- userID: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- score: double (nullable = true)
 |-- timestamp_unix: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)

21/09/03 17:15:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: userId, movieId, rating, timestamp
 Schema: userID, movieID, score, timestamp
Expected: score but found: rating
CSV file: file:///study_docs/study_documents/notebooks/Pyspark_Guide/data-sets/ml-latest-small/ratings.csv

##### Now lets do the same steps above in single line operation

In [52]:
# Run Cell 51 to initize the dataframe before this 
df = (
    df
    .withColumnRenamed("timestamp", "timestamp_unix")           # Renaming timestamp to timestamp_unix       
    .withColumn("timestamp", f.from_unixtime("timestamp_unix")) # Creating new column timestamp after converting existing timestamp_unix column to human readable format using 'f.from_unixtime'
    .withColumn("timestamp", f.to_timestamp("timestamp"))       # Change schema of timestmap column as timestamp
)

In [53]:
df.show(5)
df.printSchema()

+------+-------+-----+--------------+-------------------+
|userID|movieID|score|timestamp_unix|          timestamp|
+------+-------+-----+--------------+-------------------+
|     1|      1|  4.0|     964982703|2000-07-30 19:45:03|
|     1|      3|  4.0|     964981247|2000-07-30 19:20:47|
|     1|      6|  4.0|     964982224|2000-07-30 19:37:04|
|     1|     47|  5.0|     964983815|2000-07-30 20:03:35|
|     1|     50|  5.0|     964982931|2000-07-30 19:48:51|
+------+-------+-----+--------------+-------------------+
only showing top 5 rows

root
 |-- userID: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- score: double (nullable = true)
 |-- timestamp_unix: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)

21/09/03 17:16:05 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: userId, movieId, rating, timestamp
 Schema: userID, movieID, score, timestamp
Expected: score but found: rating
CSV file: file:///study_docs/study_documents/notebooks/Pyspark_Guide/data-sets/ml-latest-small/ratings.csv

#### Lets do all above steps into single step
- Create dataframe 
- set schems
- Set original timestamp to a column called timestamp_unix
- Generate a new column named timestamp which convert unix timestamp to human readable 
- Set the schema of the new column to timestamp from INT

In [55]:
# Initializing a spark sql session 
from pyspark.sql import SparkSession
from pyspark.sql import functions as f 

spark = SparkSession.builder.appName("MyFirstCSVLoad").getOrCreate()
df = (
    spark.read.csv(
        path="data-sets/ml-latest-small/ratings.csv",
        sep=",",
        header=True,
        quote='"',
        schema="userID INT, moveID INT, rating DOUBLE, timestamp INT"
    )
    .withColumnRenamed("timestamp", "timestamp_unix")
    .withColumn("timestamp", f.to_timestamp(f.from_unixtime("timestamp_unix")))
)

In [56]:
df.show(5)
df.printSchema()

+------+------+------+--------------+-------------------+
|userID|moveID|rating|timestamp_unix|          timestamp|
+------+------+------+--------------+-------------------+
|     1|     1|   4.0|     964982703|2000-07-30 19:45:03|
|     1|     3|   4.0|     964981247|2000-07-30 19:20:47|
|     1|     6|   4.0|     964982224|2000-07-30 19:37:04|
|     1|    47|   5.0|     964983815|2000-07-30 20:03:35|
|     1|    50|   5.0|     964982931|2000-07-30 19:48:51|
+------+------+------+--------------+-------------------+
only showing top 5 rows

root
 |-- userID: integer (nullable = true)
 |-- moveID: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp_unix: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)

21/09/03 17:32:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: userId, movieId, rating, timestamp
 Schema: userID, moveID, rating, timestamp
Expected: moveID but found: movieId
CSV file: file:///study_docs/study_documents/notebooks/Pyspark_Guide/data-sets/ml-latest-small/ratings.csv

#### Fixing issue